# Byte-compiled / optimized / DLL files
**/__pycache__
**/*.py[cod]
**/*$py.class

# Distribution / packaging
**/.Python
**/build/
**/develop-eggs/
**/dist/
**/eggs/
**/.eggs/
**/wheels/
**/share/python-wheels/
**/*.egg-info/
**/.installed.cfg
**/*.egg

# venvs
.venv

# testing
**/.pytest_cache

# Jupyter Notebook
**/.ipynb_checkpoints

**/__pypackages__

# poetry builds
**/dist


## custom
.vscode
.direnv

temp
**/*.xlsx

# temp files
**/.~*
**/*#

# archives
**/*.tar.gz